*{
    margin: 0;
    padding: 0;
}

/* Header section style  */

.header-container{
   background-color: rgba(229, 84, 115, 0.10);
   height: 85vh;
   display: flex;
   justify-content: space-around;
   align-items: center;

}



.header-title{

}

.title{

    font-size: 75px;
    color: #151515;
}

.hedaer-description{
  width: 600px;
  color: gray;
  font-size: 17px;
  margin:20px 0px;
}

.btn-primary{
    border:none;
    background-color: rgb(240, 95, 119);
    color: #fff;
    padding: 18px 25px;
    border-radius: 5px;
    cursor: pointer;
}

.header-pic{
    margin-top: 148px;
}



.header-pic img{
    width: 500px;
    
   

}



/* Featured flower css style  */


.Featured{
   margin-top: 120px;

}

.Featured-title{
    text-align: center;
}

.Featured-title h2{
    font-size: 40px;
}

.Featured-title p{
   font-size: 17px;
   color: gray;
   margin-top: 15px;
}

.Featured-container{
   display: flex;
   justify-content: space-around;
   text-align: center;
   align-items: center;
   margin-top: 100px;

 
}


.flower-box{
   text-align: center;
}
.flower-box  a{
    margin-top: 20px;
    font-size: 20px;
}
.box-bg{
    width: 350px;
    height: 538px;
    background-color: rgba(167, 33, 98, 0.15);
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
    margin-bottom: 20px;
    margin-right: 20px;

    
    
}

.box-bg2{
    width: 350px;
    height: 538px;
    background-color: rgba(144, 204, 231, 0.15);
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
    margin-bottom: 20px;
    margin-right: 20px;

    
    
}

.box-bg3{
    width: 350px;
    height: 538px;
    background-color: rgba(90, 139, 105, 0.15);
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
    margin-bottom: 20px;
    
}

/* .box-bg3 img{
    widows: 300px;
    height: 400px;
   

} */


img.img-1{
    margin-top: 111px;
}

img.img-2 {
    margin-top: 100px;
    
}

img.img-3{
    margin-top: 69px;
}



/* support section css style  */


.customer-support{
   display: flex;
   justify-content: space-around;
   align-items: center;
   text-align: center;
   height: 320px;
   padding: 0px 100px;
   margin:100px 120px;
   background-color: rgba(39, 39, 39, 0.05);
}

.Delivery img{
    width: 88px;
    height: 88px;

}

.Delivery p{
    font-size: 24px;
    color: gray;
    margin-top: 15px;
}
.fresh_flower img{
    width: 88px;
    height: 88px;

}

.fresh_flower p{
    font-size: 24px;
    color: gray;
    margin-top: 15px;
}
.support img{
    width: 88px;
    height: 88px;

}

.support p{
    font-size: 24px;
    color: gray;
    margin-top: 15px;
}


/* discount section style  */


.discount-container{

    display: flex;
    justify-content: space-around;
    align-items: center;
   
    height: 620px;
    background-color: rgba(229, 84, 115, 0.05);
}


.hot-deal{

}

.discount-title{
    font-size: 42px;
    color: #272727;
    font-weight: 800;
    margin-bottom: 20px;
}

.discount-title .text-color{
    color: #E55473;
}

.offer-details{
    font-size: 20px;
    color: gray;
    margin-bottom: 20px;
}


.product-img{
    width: 318px;
height: 420px;
}



/* social post style css  */



.social-post{
    text-align: center;
    margin-top: 100px;
}


.social-post h2{
   font-size: 40px;
   font-weight: 800px;
   color: #272727;
   
}
.social-post p{
   font-size: 18px;
   font-weight: 400px;
   color: gray;
   margin-top: 15px;
}
.instagram-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 100px;
}


.post{
margin-right: 15px;

}

.img-content{
    width: 270px;
    height: 320px;
    cursor: pointer;
}


/* subscribe section start */

.subscribe{
    margin: 120px 65px;
    text-align: center;
    background-image: url('Flower-Asset/Rectangle-9.png');
    height:45vh;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
   
   
    
    
   
}


.subscribe-container{
    padding-top: 100px;
    width: auto;
}

.subscribe-container h2{
    margin-bottom: 15px;
    color: #272727;
    font-size: 40px;
}
.subscribe-container p{
    margin-bottom: 15px;
    color: #757575;
    font-size:18px;
}
.email{
    width: 500px;
    border: none;
    color: #151515;
    background-color: #fff;
    padding: 17px;
    margin-top: 20px;
}
.btn-sub{
    background-color: rgb(240, 95, 119);
    border: none;
    padding: 20px;
    color: #fff;
    cursor: pointer;
    margin: 0px 15px;
    border-radius: 10px;
}




/* footer section css  */

.footer{
    background-color: #111010;
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.footer-content{
    text-align: center;
}

.footer-title{
    font-size: 48px;
    font-weight: 800;
    
}
.footer-title span{
     color: #E55473;
}

.footer-description{
    font-size: 18px;
    color: rgba(255, 255, 255, 0.90);
    width: 625px;
    margin: 20px 0px;
}

.footer-copy{
      color: gray;
      font-size: 18px;



}